
.root {
    -fx-base: rgba(${main_rgb}, ${opacity});
}

.root:forcused {
    -fx-base: rgba(${sub_rgb}, ${opacity});
}

.color-picker {
    -fx-base: transparent;
}

.text {
    -fx-font-family: 'Roboto';
}

.menu {
    -fx-text-fill: ${text};
}

.menu-item:focused {
    -fx-background-color: ${sub};
}

.menu-item:focused .label {
    -fx-text-fill: ${text_focused};
}

.progress-bar {
    -fx-background-color: ${sub};
}

.progress-indicator {
    -fx-base: rgba(${main_rgb}, ${opacity});
    -fx-progress-color: ${sub};
}

.text-field {
    -fx-background: ${input};
    -fx-prompt-text-fill: ${text_focused};
    -fx-text-fill: ${text_focused};
}

.text-field:focused {
    -fx-text-fill: ${main};
}

.text-area {
    -fx-background: ${input};
}

.text-area:focused {
    -fx-base: gray;
}

.tree-view:focused {
     -fx-base: rgba(${sub_rgb}, 0.1);
}


.tree-cell:even {
    -fx-text-fill: ${text};
    -fx-background-color: rgba(${main_rgb}, ${opacity});
}

.tree-cell:hover {
    -fx-text-fill: ${text_focused};
    -fx-background-color: ${main_dark};
}

.tree-cell:selected {
    -fx-text-fill: ${text_focused};
    -fx-background-color: ${main_dark};
}

.table-cell:even {
    -fx-text-fill: ${text};
    -fx-background-color: rgba(${main_rgb}, ${opacity});
}

.table-cell:hover {
    -fx-text-fill: ${text_focused};
    -fx-background-color: ${main_dark};
}

.table-cell:selected {
    -fx-text-fill: ${text_focused};
    -fx-background-color: ${main_dark};
}

.tab-pane {
    -fx-base: rgba(${sub_rgb}, 0.6);
    -fx-background-color: ${text_focused};
}

.list-view {
    -fx-background-color: rgba(${sub_rgb}, 0.1);
}

.list-cell {
    -fx-text-fill: ${text};
    -fx-background-color: rgba(${sub_rgb}, ${opacity});
}

.list-cell:even {
    -fx-text-fill: ${text};
    -fx-background-color: rgba(${main_rgb}, ${opacity});
}

.list-cell:hover {
    -fx-text-fill: ${text_focused};
    -fx-background-color: ${main_dark};
}

.list-cell:selected {
    -fx-text-fill: ${text_focused};
    -fx-background-color: ${main_dark};
}

.button {
    -fx-text-fill: ${text};
}

.combo-box .list-cell {
    -fx-text-fill: ${text};
}

.tab-label {
    -fx-text-fill: ${text};
}
